.SendMessageBlock {
  display: flex;
  column-gap: 20px;
  height: 70px;
}

.MessageTextArea {
  padding: 3px 5px;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 14px;
}

.MessageButton {
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: steelblue;
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
}

.MessageButton:hover {
  background-color: #5196cf;
}