.ChatMessage {
  border: 1px solid #e0e0e0;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.MessageAuthor,
.MessageDate,
.MessageText {
  margin: 0;
}

.MessageInfoBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.MessageTextBlock {
  padding: 5px 0;
  color: #444;
}